body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 55px;
  color: #464444;
}
h2 {
  color: #707070;
  margin-top: 25%;
}
p {
  color: #828282;
  margin-bottom: 60px;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  vertical-align: center;
}
.half-width img {
  width: 80%;
  padding-top: 3%;
}
#logo img {
}
.nav-bar {
  background-image: url(images/shapes/Frame\ 58.jpg);
}
#logo-area {
  width: 10%;
}
#logo-area img {
  height: 100px;
  width: 100px;
}
.nav-list{
    width: 90%;
    padding-left: 20%;
    margin-top: 3%;
}
.nav-list li {
  list-style-type: none;
  display: inline;
  padding-right: 10%;
}
.nav-list a {
    font-weight: 500;
    color: #141611;
  text-decoration: none;
}
.orrange-color {
  color: #fba24f;
}

.link-button {
  margin-top: 50px;
  padding: 11px 23px;
  border-radius: 25px 25px;
  background-image: linear-gradient(#fba24f, #ff1e1e);
  text-decoration: none;
  color: white;
}
.contact-area {
  background-image: url(images/shapes/7.png);
}
.contact-area img {
  padding-left: 15%;
  width: 50%;
}
.contact-area .about-me {
  padding-right: 7%;
}
